body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    display:flex;
    flex-direction: column;
    
    }
    


.header, .herotext, .footer, .center, .quote, .card 
{
    padding-left: 100px;
    padding-right:100px;
}
.header, .herotext, .footer
{
    background-color: #1F2937;
}
.header{
    font-size: 24px;
    color: #f9faf8;
    display:flex;
    justify-content: space-between;
}

.logo{
    padding:10px;
    font-weight: bold;
}
ul{
    padding:0px;
    margin:0px;
    list-style: none;
}

a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}


.herotext
{
    display:flex;
    padding-top:50px;
    padding-bottom:50px;
    display:flex;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}
.container
{
    flex:1;
}
.herotextheader
{
    font-size: 48px;
    font-weight: extra-bold;
    
    display:flex;
}


button{
    background-color: #3882f6;
    border-radius:5px;
}
.quote{
    background-color: #e5e7eb;
}